# Virtual environment
creditvenv/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Model files
*.pkl

# Environment variables
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
data/
creditvenv/
__pycache__/
.vscode/
*.pkl
